{% if discounts %}
<div class="my-4 py-4 px-4 bg-primary text-secondary">
  <h4>Discounts and Complimentary Items</h4>
  <p>The following discounts and complimentary items are available to you. If you wish to take advantage of this offer, you must choose your items below. The discounts will be applied automatically when you check out.</p>
  {% regroup discounts by discount.description as discounts_grouped %}
  {% for discount_type in discounts_grouped %}
  <strong>{{ discount_type.grouper }}</strong>
  <ul>
    {% for discount in discount_type.list %}
    <li>{{ discount.quantity }} &times; {{ discount.clause }}</li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>

{% endif %}
