{% extends "registrasion/base.html" %}
{% load registrasion_tags %}
{% load lca2018_tags %}

{% block header_title %}Product Category: {{ category.name }}{% endblock %}
{% block header_inset_image %}{% illustration "lavender.svg" %}{% endblock %}

{% block scripts_extra %}
  {{ voucher_form.media.js }}
  {{ form.media.js }}


{% endblock %}

{% block proposals_body %}


  <form class="form-horizontal my-4" method="post" action="">
    {% csrf_token %}


    <div class="vertical-bigger"></div>

    {% items_purchased category as items %}
    {% if items %}
      <h3>Paid items</h3>
      <p>You have already paid for the following items:</p>
      {% include "registrasion/_items_list.html" with items=items %}

    {% endif %}


    <h1>{{ category.name }}</h1>
    <blockquote>{{ category.description|safe }}</blockquote>

    <fieldset>
      {% if discounts %}
        {% include "registrasion/discount_list.html" with discounts=discounts %}
      {% endif %}

      <h2>Make a selection</h2>
      {% include "_form_snippet.html" with form=form %}

      <br />
      <div class="btn-group">
          <input class="btn btn-primary" type="submit" value="Add to cart" />
          <a href="{% url "dashboard" %}" class="btn btn-default">Return to dashboard</a>
      </div>
    </fieldset>
  </form>


{% endblock %}
