{% extends "site_base.html" %}

{% block head_title %}{{ flatpage.title }}{% endblock head_title %}
{% block body_class %}text-primary{% endblock body_class %}
{% block main_class %}container{% endblock main_class %}


{% block content %}
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-12 col-md-10 content text-page ticket-page">
    <h1>Accommodation</h1>
    <p>Our accommodation page is coming soon with links to Halls of Residence and various other nearby accommodations providers.</p>
  </div>
</div>
{% endblock %}