{% extends "site_base.html" %}

{% block head_title %}{{ flatpage.title }}{% endblock head_title %}
{% block body_class %}text-primary{% endblock body_class %}
{% block main_class %}container{% endblock main_class %}

{% block content %}
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-12 col-md-10 content text-page">
    <h1>Code of Conduct</h1>
    <p>
      Linux Australia is committed to the ideals expressed in our <a href="http://linux.org.au/values">Values Statement</a> and ask all our members, speakers, volunteers, attendees and guests to adopt these principles. We are a diverse community. Sometimes this means we need to work harder to ensure we're creating an environment of trust and respect where all who come to participate feel comfortable and included.
    </p>
    <p>We value your participation and appreciate your help in realising this goal.</p>
    
    <h2 id="be-respectful">Be respectful</h2>
    <p>
      Respect yourself, and respect others.
      Be courteous to those around you.
      If someone indicates they don't wish to be photographed, respect that wish.
      If someone indicates they would like to be left alone, let them be.
      Our event venues and online spaces may be shared with members of the public; please be considerate to all patrons of these locations.
    </p>

    <h2 id="be-inclusive">Be inclusive</h2>
    <p>All presentation material should be suitable for people aged 12 and above.</p>
    <p>Any public presentation which is part of any event, including but not limited to keynotes, presentations, lightning talks, addresses, mailing list posts and forums, is subject to this code of conduct and thus may not contain:</p>
    <ul>
      <li>sexual or violent imagery;</li>
      <li>exclusionary language;</li>
      <li>insults or ad-hominem attacks.</li>
    </ul>
    <p>If the subject matter of the presentation cannot be presented adequately without including language that could be considered offensive, this should be pointed out in advance, at the beginning of the talk and in the schedule.</p>
    <p>If presenters are unsure whether their material is suitable, they are encouraged to show it to the conference’s speaker liaison or mailing list/forum moderators before their session.</p>
    <p>Presenters and attendees are asked to avoid language which is not appropriate for an all-ages audience as much as possible.</p>
    
    <h2 id="be-aware">Be aware</h2>
    <p>We ask everyone to be aware that we will not tolerate intimidation, harassment, or any abusive, discriminatory or derogatory behaviour by anyone at any event in person or online.</p>
 
    <h2 id="what-does-that-mean-for-me">What does that mean for me?</h2>
    <p>All participants, including event attendees and speakers must not engage in any intimidation, harassment, or abusive or discriminatory behaviour.</p>
    <p>If you experience or observe any of these behaviours we ask that you report them through the appropriate channel.</p>
    
    <h2 id="complaints-and-reports">Complaints and reports</h2>
    <p>Complaints and reports can be made to the organisers by contacting the registration desk or mailing list/forum moderators by contacting the relevant email addresses.
      All complaints made to event organisers will remain confidential and be taken seriously.
      The complaint will be treated appropriately with discretion.
      Should event organisers or moderators consider it appropriate, measures they may take include:
    </p>
    <ul>
      <li>the individuals may be told to apologise</li>
      <li>the individuals may be told to stop/modify their behaviour appropriately</li>
      <li>the individuals may be warned that enforcement action may be taken if the behaviour continues</li>
      <li>the individuals may be asked to immediately leave the venue and/or will be prohibited from continuing to attend the event</li>
      <li>the incident may be reported to the appropriate authorities</li>
    </ul>
  
    <h2 id="examples">Examples</h2>
    <p>Here are some examples of behaviours that have occurred at past events which are not appropriate:</p>
    <ul>
      <li>offensive verbal or written remarks related to gender, sexual orientation, disability, physical appearance, body size, race or religion;</li>
      <li>sexual or violent images in public spaces (including presentation slides);</li>
      <li>deliberate intimidation;</li>
      <li>stalking or following;</li>
      <li>unwanted photography or recording;</li>
      <li>sustained disruption of talks or other events;</li>
      <li>intoxication at an event venue;</li>
      <li>inappropriate physical contact;</li>
      <li>unwelcome sexual attention;</li>
      <li>sexist, racist, or other exclusionary jokes;</li>
      <li>unwarranted exclusion from conference or related events based on age, gender, sexual orientation, disability, physical appearance, body size, race, religion;</li>
    </ul>
    <p>We want everyone to have a good time at our events.</p>
    
    <h2 id="questions">Questions?</h2>
    <p>If you’re not sure about anything you’ve just read please contact the organisers or the Linux Australia Council at <a href="council@linux.org.au">council@linux.org.au</a>.</p>
  </div>
</div>


{% endblock content %}