{% extends "site_base.html" %}

{% block head_title %}{{ flatpage.title }}{% endblock head_title %}
{% block body_class %}text-primary{% endblock body_class %}
{% block main_class %}container{% endblock main_class %}


{% block content %}
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-12 col-md-10 content text-page">
    <h1>Programme <br/>Overview</h1>

    <h2>When & Where</h2>
    <p><strong>21-25 January 2019 at University of Canterbury, Christchurch, NZ</strong></p>
    <p>
      The conference starts out with 9 Miniconfs spread over 2 days on the 21<sup>st</sup> and 22<sup>nd</sup> of January.
      The remainder of the conference, from the 23<sup>th</sup> to the 25<sup>th</sup> of January, has 80 talks and 8
      tutorials spread over 6 parallel tracks.
    </p>

    <h2>Week Overview</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Day</th>
          <th>Morning</th>
          <th>Daytime</th>
          <th>Evening</th>
        </tr>
      </thead>
      <tbody>
          <tr>
              <th>Sunday</th>
              <td>Volunteer induction/orientation</td>
              <td>Check-in opens & <br/>First timers welcome</td>
              <td></td>
          </tr>
          <tr>
              <th>Monday</th>
              <td>Conference Welcome</td>
              <td>Miniconfs</td>
              <td>Linux Australia AGM</td>
          </tr>
          <tr>
              <th>Tuesday</th>
              <td>Keynote #1</td>
              <td>Miniconfs</td>
              <td>Speaker's Dinner</td>
          </tr>
          <tr>
              <th>Wednesday</th>
              <td>Keynote #2</td>
              <td>Daytime</td>
              <td>Penguin Dinner</td>
          </tr>
          <tr>
              <th>Thursday</th>
              <td>Keynote #3</td>
              <td>Main Conference</td>
              <td>Professional Delegates Networking Session</td>
          </tr>
          <tr>
              <th>Friday</th>
              <td>Keynote #4</td>
              <td>Main Conference</td>
              <td></td>
          </tr>
      </tbody>
    </table>

    <h2>Daily Overview</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Day</th>
          <th>Morning</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>09:00</th>
          <td>Start of Day, Housekeeping, Keynote</td>
        </tr>
        <tr>
          <th>10:00</th>
          <td>Morning Tea (catered)</td>
        </tr>
        <tr>
          <th>10:40</th>
          <td>Talks</td>
        </tr>
        <tr>
          <th>12:20</th>
          <td>Lunch (un-catered)</td>
        </tr>
        <tr>
          <th>13:30</th>
          <td>Talks</td>
        </tr>
        <tr>
          <th>15:10</th>
          <td>Afternoon Tea (catered)</td>
        </tr>
        <tr>
          <th>15:50</th>
          <td>Talks</td>
        </tr>
        <tr>
          <th>17:30</th>
          <td>BoF sessions and evening events</td>
        </tr>
      </tbody>
    </table>

    <h2>Presentation Formats</h2>
    <h3>Keynotes</h3>
    <p>From Tuesday through to Friday the day starts off with a Keynote presentation. We are really excited by our invited guests this year and will be making announcements very soon.</p>

    <h3>Talks</h3>
    <p>35-45 minute presentations on a single topic. These are generally presented in lecture format and form the bulk of the available conference slots.</p>

    <h3>Tutorials</h3>
    <p>90 minute interactive learning sessions. Particpants will gain some hands on knowledge or experience in a topic.These are generally presented in a classroom format and are interactive or hands-on in nature. Some tutorials will require prepartation work to be done or some hardware to be purchased prior to their attendance - please check the individual tutorial descriptions for more information.</p>

    <h3>Lightning Talks</h3>
    <p>On Friday afternoon the now traditional lightning talks (3-5 minutes each) take place. </p>

    <h3>Conference Close</h3>
    <p>The final part of the conference will include a thanks to all volunteers, the charity raffle draw, announcement of the next year's LCA location and formal closing.</p>
  </div>
</div>
{% endblock %}