{% extends "site_dark.html" %}
{% block head_title %}{{ flatpage.title }}{% endblock head_title %}
{% block content %}
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-12 col-md-10 content text-page">
    <h1 style="text-transform: uppercase;">Call <br />for Papers</h1>
    
    <div class="alert alert-warning">
      <h3>Call for Papers closed</h3>
      <strong>Our call for papers has closed on 30 July 2018.</strong><br />
        We are working hard to review all proposals as soon as possible and
        create our final conference schedule.
    </div>
    
    <h2>Important Information</h2>
    <ul>
      <li>Call for Proposals Opens: 2 July 2018</li>
      <li>
        Call for Proposals Closes: 30 July 2018 (no extensions)
      </li>
      <li>
        Notifications from the programme committee: early-September 2018
      </li>
      <li>
        Conference Opens: 21st January 2019
      </li>
      
    </ul>
    
    <h2>How to submit</h2>
    <p>
      Create an account or login at <a href="/dashboard/">https://linux.conf.au/dashboard/</a> and click the link to submit your proposal.
    </p>
    
    <h2>About linux.conf.au</h2>
    <p>
      linux.conf.au is a conference where people gather to learn about the entire world of Free and Open Source Software, directly from the people who contribute. 
      Many of these contributors give scheduled presentations, but much interaction occurs in-between and after formal sessions between all attendees. Our aim is to 
      create a deeply technical conference where we bring together industry leaders and experts on a wide range of subjects.
    </p>
    
    <p>
      linux.conf.au welcomes submissions from first-time and seasoned speakers, from all free and open technology communities, and all walks of life. We respect and encourage diversity at our conference.
    </p>
    
    <h2>Conference Theme</h2>
    <p>
      Our theme for linux.conf.au 2019 is "The Linux of Things". Building on the role that Linux plays in our everyday lives, we will address IoT-related opportunities and concerns 
      from the purely technical through environmental, health, privacy, security and more. Please let this inspire you, but not restrict you - we will still have many talks about other 
      interesting things in our community.
    </p>
    
    <p>Deciding what to speak about at linux.conf.au can be a tough challenge, particularly for new speakers.</p>
    
    <p>Last year we had a talk about talking, which is well worth watching! <a href="https://www.youtube.com/watch?v=3QIQNcGnXes">https://www.youtube.com/watch?v=3QIQNcGnXes</a></p>
    
    <h2>Conference Location</h2>
    <p>linux.conf.au 2019 will be held at the University of Canterbury in Christchurch, New Zealand. The campus is a central hub in Christchurch where teaching, learning, research and living are combined.
        It houses auditoriums, laboratories, studios, accommodation and leisure facilities. The campus also includes
        15 eateries, a recreation centre, galleries, childcare centres and four libraries.
  </p>

    <h2>Proposal Types</h2>
    <p>
      We’re accepting submissions for three different types of proposal:
    </p>
    
    
    <ul>
      <li>Presentation (45 minutes): These are generally presented in lecture format and form the bulk of the available conference slots.</li>
      <li>Tutorial (100 minutes): These are generally presented in a classroom format. They should be interactive or hands-on in nature. Tutorials are expected to have a specific learning outcome for attendees.</li>
      <li>Miniconf (full-day): Single-track mini-conferences that run for the duration of a day on either Monday or Tuesday. We provide the room, and you provide the speakers. Together, you can explore a field in Free and Open Source software in depth.</li>
    </ul>
    
    <h2>Proposer Recognition</h2>
    <p>In recognition of the value that presenters and miniconf organisers bring to our conference, once a proposal is accepted, one presenter or organiser per proposal is entitled to:</p>
    <ul>
      <li>Free registration, which holds all of the benefits of a Professional Delegate Ticket</li>
      <li>A complimentary ticket to the Speakers' Dinner, with additional tickets for significant others and children available for purchase.</li>
      <li>50% off the advertised price for sponsorship at the White-Flippered Blue Penguin tier.</li>
    </ul>
    <p>If your proposal includes more than one presenter or organiser, these additional people will be entitled to:</p>
    <ul>
      <li>Professional or hobbyist registration at the Early Bird rate, regardless of whether the Early Bird rate is generally available</li>
      <li>Speakers’ dinner tickets available for purchase at cost</li>
    </ul>
    
    <p>Important Note for miniconf organisers: These discounts apply to the organisers only. All participants in your miniconf must arrange or purchase tickets for themselves via the regular ticket sales process or they may not be able to attend!</p>
    <p>As a volunteer-run non-profit conference, linux.conf.au does not pay speakers to present at the conference; but you may be eligible for financial assistance.</p>
    
    
    <h2>Financial assistance</h2>
    <p>linux.conf.au is able to provide limited financial assistance for some speakers.</p>
    
    <p>
      Financial assistance may be provided to cover expenses that might otherwise prohibit a speaker from attending such as:
    </p>
    <ul>
      <li>Cost of flight</li>
      <li>Accommodation</li>
      <li>Other accessibility related costs</li>
    </ul>
    
    <p>
      To be considered for assistance you can indicate this when making your proposal. We will try to accommodate as many requests for assistance as possible within our limited budget.
    </p>
    
    
    
    <h2>Accessibility</h2>
    <p>
      linux.conf.au aims to be accommodating to everyone who wants to attend or present at the conference. We recognise that some people face accessibility challenges. If you have special accessibility requirements, you can provide that information when submitting your proposal so that we can plan to properly accommodate you.
    </p>
    
    <p>
      We recognise that childcare and meeting dietary requirements also fall under the general principle of making it possible for everyone to participate, and will be announcing our offering for these in the near future; if you have concerns or needs in these areas, or in any area that would impact your ability to participate, please let us when submitting your proposal.
    </p>
    
    
    
    <h2>Code of Conduct</h2>
    <p>
      By agreeing to present at or attend the conference you are agreeing to abide by the terms and conditions (<a href="/attend/terms-and-conditions/">https://linux.conf.au/attend/terms-and-conditions/</a>).
      We require all speakers and delegates to have read, understood, and act according to the standards set forth in our Code of Conduct (<a href="/attend/code-of-conduct/">https://linux.conf.au/attend/code-of-conduct/</a>).
    </p>
    
    <h2>Recording</h2>
    <p>To increase the number of people that can view your presentation, linux.conf.au will record your talk and make it publicly available after the event. 
      We plan to release recordings of every talk at the conference under a Creative Commons Share-Alike Licence. When submitting your proposal you may note that you do not 
      wish to have your talk released, although we prefer and encourage all presentations to be recorded.
    </p>
    <h2>Licensing</h2>
    <p>If the subject of your presentation is software, you must ensure the software has an Open Source Initiative-approved licence at the time of the close of our CFP.</p>
  </div>
</div>
{% endblock content %}
