{% extends "site_base.html" %}

{% load lca2018_tags %}
{% load sitetree %}
{% load staticfiles %}
{% load thumbnail %}

{% block head_title %}Presentation: {{ presentation.title }}{% endblock %}
{% block body_class %}text-primary{% endblock body_class %}
{% block header_paragraph %}
  <p>
    Presented by
    {% for speaker in presentation.speakers %}
      <a href="{% url "speaker_profile" speaker.pk %}">{{ speaker }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
  <br />
  {% if presentation.slot %}
    {{ presentation.slot.day.date|date:"l" }}
    {{ presentation.slot.start}}&ndash;{{ presentation.slot.end }} in {{ presentation.slot.rooms.0 }}
    <br />
  {% endif %}
  {% if presentation.proposal.get_target_audience_display %}
    <strong>Target audience:</strong>
    {{ presentation.proposal.get_target_audience_display }}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-12 col-md-10">
      <h1 class="mb-4 display-4">{{ presentation.title }}</h1>

      <h2 class="mt-4 pt-4">Abstract</h2>
      <div class="abstract pb-4"><p>{{ presentation.abstract_html|urlize|safe }}</p></div>

      <h2 class="mt-4">Presented by</h2>
      <ul class="list-unstyled">
      {% for speaker in presentation.speakers %}
      {# {% speaker_photo speaker 512 as speaker_photo_url %} #}
      {# {% include "_right_floating_image.html" with image_url=speaker_photo_url %} #}
        {# <p><strong><a href="{% url "speaker_profile" speaker.pk %}">{{ speaker }}</a></strong><br /> #}
        <p><strong>{{ speaker }}</strong><br />
        <div class="bio">{{ speaker.biography_html|safe}}</div></p>
      {% endfor %}
      </ul>
    </div>
  {% if presentation.unpublish %}
    <p><strong>Presentation not published.</strong></p>
  {% endif %}


{% comment %}
... leave here for later
  <div class="presenters">
    <h3>


        {% if speaker.homepage or speaker.twitter_username %}
          <div class="btn-group">
            {% if speaker.homepage %}
              <a href="{{ speaker.homepage}}" class="btn-svg" title="Homepage">
                {% include "cms_pages/home_page_blocks/btn_generic_link.html" %}
              </a>
            {% endif %}
            {% if speaker.twitter_username %}
              <a href="https://twitter.com/{{ speaker.twitter_username }}" class="btn-svg" title="{{ speaker}} on twitter">
                {% include "cms_pages/home_page_blocks/btn_twitter.html" %}
              </a>
            {% endif %}
          </div>
          {% endif %}
        </h3>

    {% endfor %}
  </div>
{% endcomment %}
{% endblock %}
